# Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Logs and temp files
*.log
*.tmp

# PyQt build files
*.ui

# release build files (For now. We may commit this for tags)
/dist/
/build/
*.spec

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test results
*.coverage
htmlcov/
.coverage.*
nosetests.xml
coverage.xml
*.pytest_cache/